<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SSBJr API Manager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="bi bi-cloud-arrow-up-fill" aria-hidden="true"></span> Serviços Disponíveis
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api-interfaces">
                <span class="bi bi-layers-fill" aria-hidden="true"></span> Interfaces de API
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api-manager">
                <span class="bi bi-cloud-upload-fill" aria-hidden="true"></span> Gerenciador de APIs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="audit">
                <span class="bi bi-journal-check-nav-menu" aria-hidden="true"></span> Auditoria
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
    </nav>
</div>
